@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700;900&display=swap');
@import url('https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/datatables.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #eaf1fa 0%, #f5f5f5 100%);
  background-size: contain;
  background-repeat: no-repeat;
  color: #012639;
  min-height: 100vh;
}


.opacity-navbar{
 background-color: rgba(0, 0, 0, 0.07);
}

.sirsi{
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 20px;
}

.sidebar{ 
  height: 100%;
  border: white;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  padding-top: 0px;
}

.navbar{
  padding: 0px !important;
}

.no-border:focus {
  outline: none !important;
}

.accordion-button {
  transition: all 0.3s ease;
  font-weight: bold;
}

.accordion-button:hover {
  background-color: #fff !important;
  color: #212529;
}

.primary-text{
  color: #067DB2 !important;
}

.bi{
  color: #067DB2 !important;
}

.table-scroll{
  overflow-y: scroll !important;
  max-height: 81vh !important;
  box-shadow: rgba(0, 0, 0, 0.07) !important;
}

.data-table-extensions-filter{
  margin-top: 50px;
  border: 1px solid rgba(70, 70, 70, 0.3) !important; 
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 40px;
}

.icon{
  margin: 5px;
}

.form{
  display: flex;
  flex-wrap: wrap; 
}

@media screen and (max-width: 600px) {
  #my-table{
    margin-top: 1px;
  }
}

.sidebar-bottom{
  z-index: -2;
}

.shadow-navbar{
  z-index: 9999;
}

.footer-sirsi{
  height: 70px;
  background-color: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPDF{
  position: relative;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  margin-right: 92px;
  margin-bottom: -47px;
  z-index: inherit;
}

.btn-hover{
  background-color: none;
}

.btn-hover:hover{
  background-color: rgba(70, 70, 70, 0.07) !important;
}

.color-icon{
  color: #3ca6dbe7 !important;
}
