html {
  min-height: 100%;
  position: relative;
}

.parrafo {
  color: #012639;
}

.parrafo-azul {
  color: #007dba;
}

hr {
  color: #012639;
}

.h5 {
  font-size: larger;
}

/* NAVBAR */

.header {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}

.header img {
  display: flex;

  bottom: 10px;
}

/* SIDEBAR */

.sidebar {
  border: white;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  padding-top: 0px;
}

.accordion {
  border: none;
}

.accordion-body {
  border: none;
}

.accordion-item {
  border: none;
}

.drop-text {
  color: #012639;
}

.icon-derecha {
  margin-right: 6px;
}

a {
  color: #012639;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #007dba;
}

ul {
  list-style: none;
}

li {
  margin: 20px auto;
  font-size: 12px;
  color: #012639;
}

.altura {
  height: 95vh;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* CONTENEDOR PRINCIPAL */
.main-container {
  width: 100%;
  height: 96%;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
}

.bg {
  background-position: center;
  background-size: cover;
  background-color: rgba(70, 70, 70, 0.1);
}

/* FOOTER */

.texto-chico {
  font-size: 1em;
}

.pie {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 50px;
  bottom: 0;
  z-index: 1px;
}

/* RESPONDIVIDAD */

@media screen and (max-width: 767px) {
  .altura {
    height: auto;
  }

  .texto-chico {
    font-size: 12px;
  }

  .main-container {
    width: 100%;
    min-height: 400px;
    height: 100%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .pie {
    position: relative;
    padding-top: 5px;
  }

  hr {
    display: none;
  }

  #escpacio {
    display: none;
  }

  #fondo-acordion {
    padding-bottom: 20px;
  }
}

/* CONTENEDOR TABLAS */

#dataTable_info {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
}

.btn-modal {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(80, 80, 80, 0.1);
  text-align: center;
  color: rgb(60, 60, 60);
  padding-left: 5px;
  padding: 2px 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: #0275d8;
  color: #fff;
  border: 1px solid #0275d8;
}

.start-p {
  text-align: left;
}

.modal-content {
  width: 100%;
  max-height: 60%;
  position: relative;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 90%;
  --bs-modal-height: 60%;
}

/* TABLA EXCEL */
.tabla-principal {
  width: 100%;
}

.td-excel {
  border: 1px solid rgba(80, 80, 80, 0.1);
  padding: 5px;
}

.th-excel {
  border: 1px solid rgba(80, 80, 80, 0.1);
  padding: 5px;
}

.retardos {
  background-color: #bdfcbd;
}

.entrada-salida {
  background-color: #ffc0ff;
}

.desayuno {
  background-color: #ffe0c0;
}

.comida {
  background-color: #ffffc0;
}

.nombre-empleado {
  background-color: #b54166;
  color: #fff;
}

#dataTable_wrapper div:nth-child(3) {
  flex-direction: column;
}

.paginate_button {
  margin: 10px 0px;
}

/* .fechas-imput{
  font-weight: bold;
} */

/* BACKGROUNDS */

.btn-cancelar {
  margin-left: 5px;
  color: #fff;
  padding: 0px 4px;
  background-color: #dc3545;
  border: none;
}

.btn-cancelar:hover {
  background-color: rgb(134, 1, 1);
}

.oculto{
  display: none;
}

.fechacorte{
  border-radius: var(--bs-btn-border-radius);
} 
