html {
  min-height: 100%;
  position: relative;
}

.parrafo {
  color: #012639;
}

.parrafo-azul {
  color: #007dba;
}

hr {
  color: #012639;
}

.h5 {
  font-size: larger;
}

/* NAVBAR */

.header {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}

.header img {
  display: flex;

  bottom: 10px;
}

/* SIDEBAR */

.sidebar {
  border: white;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  padding-top: 0px;
}

.accordion {
  border: none;
}

.accordion-body {
  border: none;
}

.accordion-item {
  border: none;
}

.drop-text {
  color: #012639;
}

.icon-derecha {
  margin-right: 6px;
}

a {
  color: #012639;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #007dba;
}

ul {
  list-style: none;
}

li {
  margin: 20px auto;
  font-size: 12px;
  color: #012639;
}

.altura {
  height: 95vh;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* CONTENEDOR PRINCIPAL */
.main-container {
  width: 100%;
  height: 96%;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
}

.bg {
  background-position: center;
  background-size: cover;
  background-color: rgba(70, 70, 70, 0.1);
}

/* FOOTER */

.texto-chico {
  font-size: 1em;
}

.pie {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 50px;
  bottom: 0;
  z-index: 1px;
}

/* RESPONDIVIDAD */

@media screen and (max-width: 767px) {
  .altura {
    height: auto;
  }

  .texto-chico {
    font-size: 12px;
  }

  .main-container {
    width: 100%;
    min-height: 400px;
    height: 100%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .pie {
    position: relative;
    padding-top: 5px;
  }

  hr {
    display: none;
  }

  #escpacio {
    display: none;
  }

  #fondo-acordion {
    padding-bottom: 20px;
  }
}

/* CONTENEDOR TABLAS */

#dataTable_info {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
}

.btn-modal {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(80, 80, 80, 0.1);
  text-align: center;
  color: rgb(60, 60, 60);
  padding-left: 5px;
  padding: 2px 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: #0275d8;
  color: #fff;
  border: 1px solid #0275d8;
}

.start-p {
  text-align: left;
}

.modal-content {
  width: 100%;
  max-height: 60%;
  position: relative;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 90%;
  --bs-modal-height: 60%;
}

/* TABLA EXCEL */
.tabla-principal {
  width: 100%;
}

.td-excel {
  border: 1px solid rgba(80, 80, 80, 0.1);
  padding: 5px;
}

.th-excel {
  border: 1px solid rgba(80, 80, 80, 0.1);
  padding: 5px;
}

.retardos {
  background-color: #bdfcbd;
}

.entrada-salida {
  background-color: #ffc0ff;
}

.desayuno {
  background-color: #ffe0c0;
}

.comida {
  background-color: #ffffc0;
}

.nombre-empleado {
  background-color: #b54166;
  color: #fff;
}

#dataTable_wrapper div:nth-child(3) {
  flex-direction: column;
}

.paginate_button {
  margin: 10px 0px;
}

.form-select{
  border-radius: 0;
}

/* BACKGROUNDS */

.btn-cancelar {
  margin-left: 5px;
  color: #fff;
  padding: 0px 4px;
  background-color: #dc3545;
  border: none;
}

.btn-cancelar:hover {
  background-color: rgb(134, 1, 1);
}

.oculto{
  display: none;
}

.fechacorte{
  border-radius: var(--bs-btn-border-radius);
} 

/* Botones */

#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 15px -5px rgba(0,0,0,0.1); 
  transition: all 0.3s; 
  border-radius: 10px;
} 

#presentation h1{
    font-weight: 400;
  }
  
#presentation h3{
    font-weight: 400;
    color: #666;
  }


#presentation:hover{
  box-shadow: 0 12px 28px -5px rgba(0,0,0,0.13);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #0D6EFD;  /*3c80f6*/
  position: fixed;
  bottom: 110px;
  right: 80px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  z-index: auto !important;

}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 110px;
  right: 80px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
  color: #fff;
}

.nd1{
  background: #00703D;
  right: 90px;
  bottom: 200px;
  animation-delay: 0.2s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #db4437;
  right: 90px;
  bottom: 260px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nds3-white{
    position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.nd4{
  background: #ba68c8;
  right: 90px;
  bottom: 320px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}

.letter{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0px;
  right: 0;
  margin: 0;
  top: 1px;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.botonND{
  border: none;
  background-color: #00703D;
  color: #fff;
  
}

.buttons-excel{
  border: none;
  background-color: transparent;
}
.buttons-excel:hover{
  background-color: transparent;
}

.buttons-excel.active{
  background-color: transparent;
}

.buttons-excel::before{
  background-color: transparent;
}

.letter2{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: -4px;
  right: 0;
  margin: 0;
  top: -5px;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}
.letter3{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0;
  top: 9px;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

#buscar{
  max-width:50px;
}

