.titulo{
    color: #012639;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.bgImg{
    background-image: url("../public/img/lotes.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
}

.activo{
    font-weight: bold;
    color: #198754;
}

.inactivo{
    font-weight: bold;
    color: #DC3545; 
}

.title{
    color: #012639;
    font-weight: bold;
}

.footer{
    height: 20vh;
}
