@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #eaf1fa 0%, #f5f5f5 100%);
  background-size: contain;
  background-repeat: no-repeat;
  color: #012639;
  min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #adadad #adadad;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #eaf1fa 0%, #f5f5f5 100%);
}

*::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 15px;
  border: 1px solid linear-gradient(180deg, #eaf1fa 0%, #f5f5f5 100%);
}

/* CONTENIDO Y FUNCIONALIDAD DEL MODAL */

.detalleOverlay {
  width: 100vw;
  height: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: 0.3s ease all;
}

.contenedorModal {
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  height: auto;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 50px;
  transition: 0.4s ease all;
}

.contenedorModal:hover{
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.encabezadoModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.encabezadoModal h3 {
  color: #012639;
  font-weight: 500;
  font-size: 20px;
}

.final {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 15px;
  bottom: 0px;
}

.botonCerrarModal {
  background: #dc3545;
  border: none;
  padding: auto;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.3s ease all;
  border-radius: 50%;
  margin-bottom: 16px;
}

.botonCerrarModal:hover {
  background-color: #d82335;
}

.contenidoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenidoModal h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contenidoModal p {
  margin-bottom: 0.5rem;
}

.contenidoModal img {
  width: 3vw;
  height: auto;
  vertical-align: top;
  border-radius: 3px;
}

.contenedorLista {
  margin: 10px 10px;
}

/* RESPONSIVIDAD DEL MODAL */

@media screen and (max-width: 800px) {
  .contenedorLista {
    margin: 10px;
  }
}

.botonloteLista {
  width: 100%;
  color: #007dba;
  font-weight: bolder;
  border: none;
  background-color: none;
  transition: 0.1s ease all;
  padding: 20px;
}

.botonloteLista h1 {
  font-weight: bold;
}
.botonloteLista h3 {
  color: #012639;
}

.botonloteLista:hover {
  background-color: #007dba;
  border-radius: 10px;
  color: #fff;
}

/** INDEX **/

.indexCenter{
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
}

.azulPrimario{
  color: #012639;
  font-weight: bolder;
}

.azulSecundario{
  color: #007dba;
  font-weight: bold;
}

