/* CONTENEDORES DE ELEMENTOS DIV */
.box {
  display: flex;
}

.box2 {
  display: flex;
  align-items: center;
  gap: 4vw;
  
}

.box3 {
  display: block;
}

.contenedor {
  width: 100%;
  border: none;
}

.caja2 {
  background-color: rgba(255, 255, 255, 0.6);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fila {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.countContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  background-color: #fff;
  margin: 30px 30px;
}


/* COMPONENTES DE FORMULARIOS */

.inputNumber {
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  color: #012639;
  border: none;
  width: 100px;
}

.buttonSumar {
  color: #007dba;
  background-color: #fff;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 0 45px 45px 0;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.buttonRestar {
  color: #007dba;
  background-color: #fff;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 45px 0 0 45px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.divPrueba {
  position: relative;
  object-fit: contain;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: auto;
}

.boxSamples {
  padding-top: 14px;
  width: 100%;
}

.imgMuestra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  width: 50%;
  height: auto;
}

.spanTitle {
  color: #012639;
  font-weight: 500;
}

.title {
  color: #012639;
  text-align: center;
  font-size: 300%;
  margin-bottom: -1px;
}

.title2 {
  color: #012639;
  text-align: center;
}

.title3 {
  color: #012639;
  font-weight: bold;
  margin-left: 3em;
  margin-right: 3em;
}

.title4 {
  text-align: center;

  margin-bottom: 10px;
  color: #007dba;
  font-weight: bold;
}

.estatus {
  color: #012639;
  font-weight: bold;
}

/* BACKGROUND DE IMAGEN */

.img {
  background-image: url("../public/img/recepcion-muestras.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 30vh;
}

.inputLote {
 text-align: left;
}

.inputLoteForm {
  background: none;
  object-fit: cover;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 200%;
  font-weight: bold;
  color: #012639;
}

.btnLote {
  display: flex;
  justify-content: center;
}

.sumarRestar {
  padding: 10px 18px;
  background-color: #007dba;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: bolder;
  margin: 0 15px;
}

/* FUNCIONALIDADES DE SUMA Y RESTA Y ESTADO DE FORMULARIO */

.sumarRestar:hover {
  background-color: #012639;
}

.contador {
  font-weight: bolder;
  color: #012639;
  text-align: center;
}

.hr {
  border: solid 0.5px rgba(10, 10, 10, 0.2);
}

.activo {
  font-weight: bold;
  color: #198754;
}

.inactivo {
  font-weight: bold;
  color: #dc3545;
}

.enviado {
  font-size: 2.3rem;
  margin: 10px 0 0 0;
  color: #198754;
  text-align: center;
  font-weight: bold;
}

.enviadoLink {
  font-size: 1.7rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}
.enviadoLink:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: #012639;
}

@media screen and (max-width: 1300px) {
  .box {
    display: block;
  }

  .title3 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .title4 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .boxSamples {
    width: auto;
  }

  .divPrueba {
    position: relative;
    object-fit: contain;
  }

  .countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    background-color: #fff;
  }

  .inputNumber {
    text-align: center;
    font-size: 2em;
    background-color: #fff;
    color: #012639;
    border: none;
  }

  .buttonSumar {
    color: #007dba;
    background-color: #fff;
    border: none;
    padding: 5px 25px 5px 15px;
    border-radius: 0 45px 45px 0;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;
  }

  .buttonRestar {
    color: #007dba;
    background-color: #fff;
    border: none;
    padding: 5px 15px 5px 25px;
    border-radius: 45px 0 0 45px;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;
  }

  .h4 {
    font-size: 2em;
  }

  .h5 {
    font-size: 1.3em;
  }
}

/* RESPONSIVIDAD EN DISPOSITIVOS MOVILES */

@media screen and (max-width: 780px) {
  .box2 {
    display: block;
    padding: 30px 0;
  }

  .inputLoteForm {
    width: 100%;
    text-align: center;
  }

  .box3 {
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
  }
  .divPrueba {
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }
  .countContainer {
    margin: 40px 100px;
    padding: 10px;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
  }

  .h4 {
    font-size: 3em;
  }

  .h5 {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  .h4 {
    font-size: 2em;
  }

  .h5 {
    font-size: 2em;
  }

  .sumarRestar {
    padding: 5px 12px;
    margin-left: 0;
  }

  .contador {
    font-weight: bolder;
    color: #012639;
    text-align: center;
    margin-left: -10px;
    margin-right: 5px;
  }

  .countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    background-color: #fff;
    width: 70vw;
    margin: 30px auto;
  }

  .inputNumber {
    text-align: center;
    font-size: 1.5em;
    background-color: #fff;
    color: #012639;
    border: none;
  }

  .buttonSumar {
    color: #007dba;
    background-color: #fff;
    border: none;
    padding: 5px 25px 5px 15px;
    border-radius: 0 45px 45px 0;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;
  }

  .buttonRestar {
    color: #007dba;
    background-color: #fff;
    border: none;
    padding: 5px 15px 5px 25px;
    border-radius: 45px 0 0 45px;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;
  }
}
