/* TITULOS */

.titulo {
  color: #012639;
  text-align: center;
}

.titulo2 {
  color: #012639;
  font-size: 300%;
  text-align: center;
}

.title3 {
  color: #012639;
  text-align: center;
}

/* IMAGEN DE FONDO */

.bgImg {
  background-image: url("../public/img/lotes.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 30vh;
}

/* CONTENEDOR DEL DIV DE LOS LOTES */

.caja {
  background-color: rgba(255, 255, 255, 0.5);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTENIDO DEL CONTENEDOR DE CADA LOTE 
 Ya es responsivo */

.activo {
  font-weight: bold;
  color: #198754;
}

.inactivo {
  font-weight: bold;
  color: #dc3545;
}

.title {
  color: #012639;
}

.footer {
  height: 10vh;
}

.fecha {
  font-weight: bold;
  color: #012639;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline #007dba;
}

.ingresarFecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 2rem;
}

.inputLote {
  padding: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(10, 10, 10, 0.3);
}
